.box{
	background-color: seagreen;
	color: white;
	width: 33.3%;
	padding: 20px 50px 20px 50px;
	margin: 60px;
	border-radius: 30px;
}

.box h1{
    text-align: center;
}
.box img{
    width: 100%;
}
.box p{
    text-align: center;
}
.product-box{
	display: flex;
}

h3 {
    text-align: center;
}

strong{
    font-size: larger;
}

span{
    font-weight: 300;
    text-decoration: line-through;
}

button {
    background-color: white;
    color: black;
    font-size: 20px;
    padding: 8px 20px;
    border: 2px solid white;
    border-radius: 8px;
    cursor: pointer;
}